*.bak
*.cache
*.local
*.local.zsh
*.old
*.zwc
.antidote
.antidote/
.cache/
.external/
.kickstart/
.plugins/
.unplugged/
.zcompcache/
.zcompdump*
.zdirs
.zephyr/
.zhistory
.zlocal
.zplugins
.zplugins/
.zsh_dirstack
.zsh_history
.zsh_sessions/
~*
